/* Styles for MapComponent */

.map-container {
  height: 87vh;
  width: 100%;
}

.add-trip-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.map-container-wrapper {
  flex-grow: 1; /* Allows the map to grow and fill available space */
  position: relative; /* NEW: Ensures child elements can be positioned absolutely */
}

/* NEW: Add New Trip Button Overlay */
.add-trip-overlay {
  position: absolute; /* Position the button on top of the map */
  top: 90px; /* Distance from the top of the map */
  left: 15px; /* Distance from the left of the map */
  z-index: 1000; /* Ensure it stays above the map */
  background-color: grey; /* Blue background for visibility */
  color: white; /* White text */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  opacity: 0.8;
}

.add-trip-overlay:hover {
  background-color: #696969; /* Darker blue on hover */
}
